@import "colors.css";

body {
  padding: 10px;
}

.user_messages {
  margin: 7px 0px;
}

.message-info {
  margin-right: 10px;
}

.message-text {
  margin-left: 10px;
}

hr {
  border-color: var(--theme-color);
}
